.left{
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    border-width: 1px;
   border-color:black;
   background-color:rgba(210, 250, 9, 0.571);
   width:450px;
   height:40px
}

.right {
    display:flex;
   align-items: center;
   justify-content: center;
   


 
}
.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px;
}

.right button{
    background-color:rgb(16, 201, 59);
    height:40px;
    width:80px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right:30px;
}